* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Cantarell, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(40, 40, 40, 0.75);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#wireplumber:hover {
    background-color: #a37800;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#clock {
    background-color: #282828;
    color: #fbf1c7;
}

#tray {
    background-color: #504945;
    color: #fbf1c7;
}

#battery {
    background-color: #458588;
    color: #3c3836;
}

#battery.charging,
#battery.plugged,
#battery.not-charging {
    color: #fbf1c7;
    background-color: #458588;
}

@keyframes blink {
    to {
        background-color: #cc241d;
        color: #fbf1c7;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #458588;
    color: #fbf1c7;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(5);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#bluetooth {
    color: #3c3836;
    background-color: #98971a;
}

label:focus {
    background-color: #000000;
}

#wireplumber {
    background-color: #d79921;
    color: #3c3836;
}

#wireplumber.muted {
    background-color: #d65d0e;
}

#backlight {
    background-color: #d65d0e;
    color: #3c3836;
}

#power-profiles-daemon {
    padding-right: 15px;
    background-color: #cc241d;
    color: #3c3836;
}

#network {
    background-color: #b16286;
    color: #3c3836;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}